<div class="mdui-bottom-nav mdui-color-theme mdui-bottom-nav-scroll-hide" id="footer">
  <a href="/" hss-nav="index" class="mdui-ripple mdui-ripple-white">
    <i class="mdui-icon material-icons">home</i>
    <label>Home</label>
  </a>
  <a href="/devices" hss-nav="devices" class="mdui-ripple mdui-ripple-white">
    <i class="mdui-icon material-icons">devices</i>
    <label>Devices</label>
  </a>
  <a href="/events" hss-nav="events" class="mdui-ripple mdui-ripple-white">
    <i class="mdui-icon material-icons">event</i>
    <label>Events</label>
  </a>
  <a href="/users" hss-nav="users" class="mdui-ripple mdui-ripple-white">
    <i class="mdui-icon material-icons">people</i>
    <label>Users</label>
  </a>
</div>
<div class="mdui-dialog" id="hss-error-dialog">
  <div class="mdui-dialog-title" id="hss-error-dialog-title"></div>
  <div class="mdui-dialog-content" id="hss-error-dialog-content"></div>
  <div class="mdui-dialog-actions">
    <button class="mdui-btn mdui-ripple" mdui-dialog-close>Close</button>
  </div>
</div>
<div class="mdui-dialog" id="hss-info-dialog">
  <div class="mdui-dialog-title" id="hss-info-dialog-title"></div>
  <div class="mdui-dialog-content" id="hss-info-dialog-content"></div>
  <div class="mdui-dialog-actions">
    <button class="mdui-btn mdui-ripple" mdui-dialog-close>Close</button>
  </div>
</div>