<header class="navbar hss-navbar">
  <section class="navbar-section">
    <a class="off-canvas-toggle btn btn-link btn-action" id="drawer-button"><i class="icon icon-menu"></i></a>
  </section>
  <section class="navbar-section">
    <a class="navbar-brand mr-2 text-center hss-width-100">Home Surveillance System</a>
  </section>
  <section class="navbar-section">
    <div class="input-group input-inline">
      <button class="btn btn-primary input-group-btn" onclick="runtime.user.functions.logout()" id="logout-button">Logout</button>
    </div>
  </section>
</header>
