body {
    display: flex;
    flex-direction: column;
}

.hss-body-wrapper {
    display: flex;
    flex-direction: row;
    margin: 16px;
    flex: 1;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 16px;
}

.hss-width-100 {
    width: 100%
}

.hss-display-none {
    display: none;
}

.hss-hidden {
    opacity: 0;
    visibility: hidden
}

.hss-hidden-base {
    transition: opacity .5s ease-in-out;
}

.hss-margin-left-8 {
    margin-left: 8px;
}

.hss-overflow-visible {
    overflow: visible;
}

.hss-shadow-0 {
    box-shadow: none;
}

.hss-container {
    max-width: 1024px;
}

.hss-card {
    margin-bottom: 16px;
}

.hss-table-border-0 {
    border: 0;
}

.hss-login-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

.hss-login {
    width: 48vw;
    max-width: 600px;
    margin: auto;
    height: auto;
}

@media (max-width: 600px) {
    .hss-login {
        width: 90vw;
    }
}