<div class="mdui-card hss-card">
    <div class="mdui-card-primary">
        <div class="mdui-card-primary-title">
            Events
        </div>
    </div>
    <div class="mdui-progress" id="events-loading">
        <div class="mdui-progress-indeterminate"></div>
    </div>
    <div class="mdui-table-fluid hss-shadow-0 hss-table-border-0">
        <table class="mdui-table">
          <thead>
            <tr>
              <th>Time</th>
              <th>Type</th>
              <th>Details</th>
              <th>Link</th>
            </tr>
          </thead>
          <tbody id="events-table-body">
          </tbody>
        </table>
    </div>
</div>