<div class="mdui-card hss-card">
    <div class="mdui-card-primary">
        <div class="mdui-card-primary-title">
            Welcome<span id="index-username"></span>!
        </div>
    </div>
    <div class="mdui-card-actions">
        <button class="mdui-btn mdui-ripple mdui-color-theme-accent" hss-permission="admin" onclick="runtime.events.functions.pluginOff()" disabled>Turn off plugins</button>
    </div>
</div>