<div class="hss-login-wrapper">
  <div class="mdui-card hss-login">

    <div class="mdui-card-primary">
      <div class="mdui-card-primary-title">Welcome</div>
    </div>
  
    <div class="mdui-card-content">
      <div class="mdui-textfield">
        <label class="mdui-textfield-label" for="server_addr">Server Address</label>
        <input class="mdui-textfield-input" type="text" id="server_addr" pattern="^(localhost|(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5]))(:([0-9]|[1-9][0-9]|[1-9][0-9]{2}|[1-9][0-9]{3}|[1-5][0-9]{4}|6([0-4][0-9]{3}|5([0-4][0-9]{2}|5([0-2][0-9]|3[0-5])))))?$"/>
      </div>
      <div class="mdui-textfield">
        <label class="mdui-textfield-label" for="username">Username</label>
        <input class="mdui-textfield-input" type="text" id="username" pattern="[a-zA-Z0-9]+"/>
      </div>
      <div class="mdui-textfield">
        <label class="mdui-textfield-label" for="password">Password</label>
        <input class="mdui-textfield-input" type="password" id="password"  pattern="[^' ']+" />
      </div>
      <label class="mdui-list-item mdui-ripple">
        <div class="mdui-checkbox">
          <input type="checkbox" id="perm"/>
          <i class="mdui-checkbox-icon"></i>
        </div>
        <div class="mdui-list-item-content">Remember me</div>
      </label>
    </div>
  
    <div class="mdui-card-actions">
      <button class="mdui-btn mdui-ripple mdui-btn-block" onclick="runtime.user.functions.tryAuthFromForm()">Login</button>
    </div>
  
  </div>
</div>
